body {
  font-family: sans-serif;
  background-color: #fffaf5;
  color: #333;
  margin: 0;
  padding: 0;
}

body.pagina-pedidos {
  background-color: #ececf1;
}

header {
  background-color: #b30000;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #b30000;
  font-weight: bold;
}

main {
  padding: 20px;
}

footer {
  background-color: #b30000;
  color: white;
  text-align: center;
  padding: 15px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: auto;
}

input,
textarea,
select,
button {
  padding: 10px;
  font-size: 1rem;
}

.banner {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.logo {
  height: 80px;
}

