:root {
  --main-red-color: #b30000;
  --main-white: #ececf1;
}

body {
  font-family: sans-serif;
  background-color: #fffaf5;
  color: #333;
  margin: 0;
  padding: 0;
}

body.pagina-pedidos {
  background-color: var(--main-white);
}

header {
  background-color: var(--main-red-color);
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: var(--main-red-color);
  font-weight: bold;
}

main {
  padding: 20px;
}

footer {
  background-color: var(--main-red-color);
  color: white;
  text-align: center;
  padding: 15px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: auto;
}

input,
textarea,
select,
button {
  padding: 10px;
  font-size: 1rem;
}

#quant_entrada,
#quant_prato,
#quant_bebida {
  height: 7px;
  margin-top: 12px;
  width: 60px;
  border-radius: 6px;
}

.banner {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.logo {
  height: 80px;
}

.campos-formulario-pedido {
  display: flex;
  flex-direction: column;
}

.enviar-pedido-btn {
  border: var(--main-red-color);
  color: var(--main-red-color);
  background-color: transparent;
  border: 1px solid var(--main-red-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.enviar-pedido-btn:hover {
  background-color: var(--main-red-color);
  color: var(--main-white);
  font-weight: 500;
}
